// Header.scss
$header-padding: 0rem 2rem;
$header-bg-color: orange;
$header-color: #262d30;

//App.scss
$body-padding: 0rem 2rem;

// ContextMenu.scss
$contextMenuBgColor: #f8f9fa;

// ForeDirectedGraph.scss
$node-person-color: #beba39;
$node-product-color: #ffa500;
$node-organization-color: #6baed6;
$selected-node-stroke-color: #272727;
