// colors
$primary-color: #ffa500;
$primary-color-contrast: #262d30;

$second-color: #beba39;
$second-color-contrast: $primary-color-contrast;

$third-color: #6baed6;
$third-color-contrast: $primary-color-contrast;

// Header.scss
$header-padding: 0rem 2rem;
$header-bg-color: $primary-color;
$header-color: $primary-color-contrast;

//App.scss
$body-padding: 0rem 2rem;

// ContextMenu.scss
$contextMenuBgColor: #f8f9fa;

// ForeDirectedGraph.scss
$node-person-color: $second-color;
$node-product-color: $primary-color;
$node-organization-color: $third-color;
$selected-node-stroke-color: $primary-color-contrast;
$svg-canvas-border: 1px dashed rgba(0, 0, 0, 0.15);
