@import "../../styles/variables";

#d3-force-graph {
  flex: 1;
  margin-bottom: 1rem;
  border: 1px dashed rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.selected-node {
  //fill: red;
  stroke: $selected-node-stroke-color;
  stroke-dasharray: 8;
  stroke-width: 3;
  stroke-opacity: 0.5;
}

.node-type {
  &-person {
    fill: $node-person-color;
  }
  &-product {
    fill: $node-product-color;
  }
  &-organization {
    fill: $node-organization-color;
  }
}
