@import "../../styles/variables";

#d3-force-graph {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  border: $svg-canvas-border-1;
  border-radius: 2px;
  //box-shadow: $box-shadow-4;
}

.selected-node {
  //fill: red;
  //stroke: $selected-node-stroke-color;
  circle {
    stroke: $selected-node-stroke;
    stroke-dasharray: $selected-node-stroke-dasharray;
    stroke-width: $selected-node-stroke-width;
  }
}

.node-type {
  &-person {
    stroke: $grey-color;
    fill: $node-person-color;
  }
  &-product {
    stroke: $grey-color;
    fill: $node-product-color;
  }
  &-organization {
    stroke: $grey-color;
    fill: $node-organization-color;
  }
}

.node-text {
  font-size: 0.8rem;
  //font-weight: 700;
}
